html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
    width: 100%;
}
#tooltip {
    position: fixed;
    width: 200px;
    background: white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

#tooltip table {
    margin-bottom: 0;
}

#tooltip table tr:first-child th {
    font-size: 1.1em;
}

span.subscript {
    margin-top: 8px;
    font-size: 0.8em;
}

aside {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    background: white;
}